<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="prjReservationSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <prjReservationSystem.My.MySettings>
            <setting name="DB_IP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_UID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="PrinterDriver" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearPic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID_No" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>Tower 1</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterStat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebCam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoIDnumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdScanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Signature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MODE" serializeAs="String">
                <value>CARD</value>
            </setting>
            <setting name="DB_Database" serializeAs="String">
                <value>vmsdb</value>
            </setting>
            <setting name="DBL_Ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBL_Uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBL_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="DBL_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DBL_Database" serializeAs="String">
                <value>vmsdb</value>
            </setting>
            <setting name="DefSet" serializeAs="String">
                <value />
            </setting>
            <setting name="ER302Com" serializeAs="String">
                <value>0</value>
            </setting>
        </prjReservationSystem.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
